
html, body {
/*
	height: 100%;
	font-family: arial;
	color: white;
 font-size:4vw;
*/

}

html {
/*
		display: table;
		margin: auto;
*/
}

body {
/*
		display: table-cell;
		vertical-align: center;
	  height: 100%;
*/
}


p {
		text-align: center;
	}

form {
		text-align: center;

	}

h2 {
	text-align: center;
	color: white;
}

banner {
	text-align: center;
	color: white;
	font-size: 5vw;
	background-color: #ffc002;
}

i {
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
}

.padded {
	margin: 40%;
}

.arrow-left {
	position: relative;
	border-top: 5vh solid transparent;
	border-right: 10vh solid black;
	border-bottom: 5vh solid transparent;
	display: inline-block;
}

.back-button {
	display: inline-block;
	cursor: pointer;
}

.point-right {
  -webkit-transform: rotate(-45deg);
}

.arrow {
	position: relative;
	cursor:pointer;
}

.point-left {
  -webkit-transform: rotate(135deg);
}

.inline-blocked {
	display: inline-block;
}

.left {
	left: 0;
	background-color: #1D7A79;
}

.right {
	right: 0;
}

.red {
	background-color: #C30713;
}

.blue {
	background-color: #042A81;

}

.top {
	margin: 0;
	top: 0;
}
.bottom {
	margin: 0;
	bottom: 0;
}

.centered-child {
/*
	position: relative;
	top: 50%;
*/
/*  left: 50%;*/
/*  top: 50%;*/
/*  transform: translate(-50%, -50%);*/

}

.centered {
	
	margin: 0;
  position: relative;
  top: 50%;
	text-align: center;
	  justify-content: center;

	
}

.signup {
	background-color:cadetblue;
}

.login {
	background-color:cadetblue;

}


.userBtn {
	text-align: center;
	padding: 10%;
	
}

.btn {
	text-align: center;
}

.user-form {
	display: none;
}

/* Split the screen in half */
.split-vertical {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
/*  padding-top: 20px;*/
}

.split-horizontal {
	  height: 50%;
		width: 100%;
/*		position: fixed;*/
/*		z-index: 1;*/
/*		top: 0;*/
/*		overflow-x: hidden;*/
}

.nav {
/*	clear: both;*/
}

.slide-in {
	display: none;
}

.gotobtn {
	height: 50%;
	width: 100%;
	position: absolute;
	cursor: pointer;
	color: white;
/*	text-align: center;*/
	display: table-cell;
	vertical-align: middle;
}

.dropbtn {
	background-color: #9602ff;
	color: white;
	padding: 2%;
	font-size: 5vw;
	border: none;
	cursor: pointer;
	width: 100%;

}
.subbtn {
	background-color: #3498DB;
	color: white;
	padding: 1vh;
	cursor: pointer;
}
/*

	.submit {
			text-align: center;

	}
*/

.dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
}

.dropdown {
/*
	text-align: center;
	padding-top: 10px;
	position: relative;
	display: block;
*/

}

.dropdown-content {
	display: none;
	background-color: #1D7A79;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;

}

.blocked {
	display: block;
}

.dropdown-content myButton {
	color: white;
	background-color: cadetblue;
/*	padding: 12px 16px;*/
/*	text-decoration: none;*/
	display: block;
	margin-top: 0;
	margin-bottom: 0;
}

.dropdown-content myButton:hover {
}

.dropdown a:hover {background-color: #ddd;}
.show {display: block;}


/*---------*/

/*
#window-box {
  height: 100vh;
  margin: 0;
}
*/

#header-box {
	display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  box-sizing: border-box;
	width: 100%;
	height: 10vh;
}

#footer-box {
	display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  box-sizing: border-box;
	width: 100%;
	height: 10vh;

}

#app-box {
  display: flex;
	height: 80vh;
/*  height: 50vh;*/
/*  width: 50%;*/
  margin: 0 auto;
	box-sizing: border-box;
}
#left-box {
  display: flex;
  flex-wrap: wrap;
/*  flex:  0 auto;*/
  box-sizing: border-box;
	width: 50%;
}
#right-box {
  display: flex;
  flex: 1 0 auto;
	flex-wrap: wrap;
  box-sizing: border-box;
}
#login-cell {
  background-color: mediumpurple;
  width: 50%;
	height: 50%;
}
#signup-cell {
  background-color: mediumpurple;
  width: 50%;
	height: 50%;

}

#about-header {
	background-color: mediumpurple;
  width: 33%;

}

#header-cell {
	background-color: indianred;
  width: 33%;

}

#profile-cell {
	background-color: mediumpurple;
  width: 33%;

}

#about-cell {
	background-color: indianred;
  width: 100%;
	height: 50%;
}

#footer-cell {
	background-color: mediumpurple;
  width: 100%;
}

#teach-cell {
  background-color: mediumpurple;
/*  flex: 1 0 auto*/
	width: 100%;
}
#learn-cell {
  background-color: indianred;
  flex: 1 0 auto;
}

#scroll-cell {
	background-color: mediumpurple;
  width: 100%;
	height: 50%;

}

#teach-call-cell {
	background-color: indianred;
}

.cells{
  display: flex;
  align-items: center;
  justify-content:center;
  box-sizing: border-box;
  border: 0.5vh solid #ADE8E8;
  border-radius: 6vh;
}
.text {
  color: white;
  font-weight: bold;
}

.about {
	color:white;
	width: 80%;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
	border-radius: 6vh;
	background-color: #ADE8E8;
}

.container {
	padding: 2vw;

}

span.password {
  float: right;
  padding-top: 2vh;
}


/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0; 
  color: white;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.submit {
  background-color: #4CAF50;
  color: white;
  padding: 1vh 1vh;
/*  margin: 8px 0;*/
  border: none;
  width: 100%;
}



.scroll-div {
	overflow:scroll;
	height: 80%;
	width: 80%;
	text-align:center;
}

.scroll-button {
	background-color: indianred;
	width: 100%;
	color: white;
	height: 19%;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

html, body {
	margin: 0;
	height: 100vh;
	background-color: #ADE8E8;
/*	width: 100%;*/
}

body {
	font-family: sans-serif;

}

myButton {
	cursor: pointer;
	width: 100%;
}

myButton:hover {
/*	background-color: #4286f4;*/
	filter: brightness(120%);
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}





