
#header-box {
	display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  box-sizing: border-box;
	width: 100%;
	height: 10vh;
}

#footer-box {
	display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  box-sizing: border-box;
	width: 100%;
	height: 10vh;

}

#app-box {
  display: flex;
	flex-wrap: wrap;
	height: 80vh;
/*  height: 50vh;*/
/*  width: 50%;*/
  margin: 0 auto;
	box-sizing: border-box;
}
#left-box {
  display: flex;
  flex-wrap: wrap;
/*  flex:  0 auto;*/
  box-sizing: border-box;
	width: 50%;
}

#top-box {
  display: flex;
  flex-wrap: wrap;
	height: 50%;
	width: 100%;

}

#bottom-box {
  display: flex;
/*	flex-wrap: wrap;*/
/*  box-sizing: border-box;*/
	height: 50%;
	width: 100%;
}


#right-box {
  display: flex;
  flex: 1 0 auto;
	flex-wrap: wrap;
  box-sizing: border-box;
}
#login-cell {
  background-color: mediumpurple;
  width: 50%;
	height: 50%;
}
#signup-cell {
  background-color: mediumpurple;
  width: 50%;
	height: 50%;

}

#about-header {
	background-color: mediumpurple;
  width: 33%;

}

#header-cell {
	background-color: indianred;
  width: 33%;

}

#profile-cell {
	background-color: mediumpurple;
  width: 33%;

}

#info-cell {
	background-color: mediumpurple;
  width: 100%;

}

#info-cell2 {
	background-color: indianred;
  width: 100%;

}

#about-cell {
	background-color: indianred;
  width: 100%;
	height: 50%;
}

#footer-cell {
	background-color: mediumpurple;
  width: 100%;
}

#teach-cell {
  background-color: mediumpurple;
/*  flex: 1 0 auto*/
	width: 100%;
}
#learn-cell {
  background-color: indianred;
  flex: 1 0 auto;
}

#scroll-cell {
	background-color: mediumpurple;
  width: 100%;
	height: 50%;

}

#call-cell {
	background-color: indianred;
}

.centered {
	text-align: center;
}

.cells{
  display: flex;
  align-items: center;
  justify-content:center;
  box-sizing: border-box;
  border: 0.2vh solid #ADE8E8;
  border-radius: 2vh;
}
.text {
  color: white;
  font-weight: bold;
}

.info-text {
	color: white;
}

.dark-text {
	color: black;
  font-weight: bold;

}

.about {
	color:white;
	width: 80%;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
	border-radius: 6vh;
	background-color: #ADE8E8;
}

.container {
	padding: 2vw;
}

span.password {
  float: right;
  padding-top: 2vh;
}


/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0; 
  color: white;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.submit {
  background-color: #4AA44A;
  color: white;
  padding: 0.7vh 0.7vh;
/*  margin: 8px 0;*/
  border: none;
  width: 100%;
	
}


.scroll-div {
	overflow:scroll;
	height: 80%;
	width: 80%;
	text-align:center;
}

.scroll-button {
	background-color: indianred;
	width: 100%;
	color: white;
	height: 19%;
}

.info {
	margin-bottom: 1vh;
	display: block;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

html, body {
	margin: 0;
	height: 100vh;
	background-color: #ADE8E8;
/*	width: 100%;*/
}

body {
	font-family: sans-serif;

}

myButton {
	cursor: pointer;
	width: 100%;
}

myButton:hover {
/*	background-color: #4286f4;*/
	filter: brightness(120%);
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



/*For loading spinner*/
.loading-circle {
  transform: translateZ(1px);
	display: block;
}

.loading-circle > div {
  display: inline-block;
  width: 12vw;
  height: 12vw;
  margin: 0.5vh;
  border-radius: 50%;
  background: #fff;
  animation: loading-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes loading-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}








